<div class="topbar">
    <div class="container topbar__inner">
        <div class="topbar__left">
            <span>Ингредиенты и инвентарь для кондитерских изделий и мороженого</span>
        </div>
        <div class="topbar__right">
            <span>Екатеринбург</span>
            <span>Самовывоз и доставка</span>
            <span class="topbar__schedule">
                <span>Пн–Пт: с 9:00 до 20:00</span>
                <span>Сб, Вс: с 09:00 до 19:00</span>
            </span>
        </div>
    </div>
</div>
