<section class="recipe-cats">
  <div class="container">
    <div class="recipe-cats__head">
      <div class="recipe-cats__lead">
        <h2 class="recipe-cats__title">Рецепты</h2>

        <button
          class="recipe-cats__subscribe"
          type="button"
          data-subscribe-open
        >
          <svg
            class="recipe-cats__subscribe-icon"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M4.5 6.5h15v11h-15v-11Z"
              stroke-width="1.8"
              stroke-linejoin="round"
            ></path>
            <path
              d="m5 7 7 6 7-6"
              stroke-width="1.8"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span>Подписаться</span>
        </button>
      </div>

      <div class="recipe-cats__actions">
        <a class="recipe-cats__all" href="#">Все рецепты</a>

        <div class="recipe-cats__nav">
          <button
            class="recipe-cats__arrow recipe-cats__arrow--prev js-recipe-cats-prev"
            type="button"
            aria-label="Назад"
          ></button>
          <button
            class="recipe-cats__arrow recipe-cats__arrow--next js-recipe-cats-next"
            type="button"
            aria-label="Вперед"
          ></button>
        </div>
      </div>
    </div>

    <div
      class="recipe-cats__slider swiper js-recipe-cats-slider"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/2.jpg"
                alt="Напитки"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">Напитки</h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/3.jpg"
                alt="Летнее меню"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">Летнее меню</h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/4.jpg"
                alt="Торты, пирожные, бисквит"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">
                Торты, пирожные, бисквит
              </h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/2.jpg"
                alt="Шоколадные рецепты"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">
                Шоколадные рецепты
              </h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/3.jpg"
                alt="Печенье и тарталетки"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">
                Печенье и тарталетки
              </h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/4.jpg"
                alt="Пасхальная выпечка"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">
                Пасхальная выпечка
              </h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/2.jpg"
                alt="Кремы и начинки"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">
                Кремы и начинки
              </h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide recipe-cats__slide">
          <a class="recipe-cats__card" href="#">
            <div class="recipe-cats__media">
              <img
                class="recipe-cats__image"
                src="img/3.jpg"
                alt="Десерты в стакане"
                loading="lazy"
                decoding="async"
              />
            </div>
            <div class="recipe-cats__body">
              <div class="recipe-cats__meta">Рецепты</div>
              <h3 class="recipe-cats__name">
                Десерты в стакане
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
